
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="orta2" style="text-align:center; height:845px">
    <h1 style="padding-top: 320px">404 Sayfa Bulunamadı!</h1>
    <h5 style="padding-top: 20px">Aradığınız sayfa silinmiş ya da başka bir sayfaya taşınmış olabilir.</h5>
</div>

