
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-color: #f5f5f5">
    <div class="orta">
        <div class="container" id="hakkimizda">
            <div class="yazi">
                <p id="baslik">Hakkımızda</p>
                <hr>
                <br>
            </div>
            <p id="p1">
                Biriktirdigimiz tecrübelerimiz ile 2010 yılından beri Akçakale Web Tasarım olarak hizmet vermekteyiz. Dünyaya açıldığımız web ağında sizlerin sesini doğru şekillerde duyurmak adına 15'ten fazla çözümle 2016 yilina 300'e yakin müşterimizle merhaba dedik. Bilgi birikimimizi e-ticaret yazılımı ve web yazılımı alanlarında önde tutarak sektörün nabzını yakaladıktan sonra yazılım çözümlerini genişletmiş ve arne yazılım olarak bilgi ve becerilerimizi sizlerin hizmetine sunmuş bulunmaktayız.
                <br><br>
                Akçakale Web Tasarım eğitim ve teknolojiyi benimsemiş ve her geçen gün gelişmeye devam eden uzman kadrolar ile çalışmaktadır. İnovatif çözümler ile çalışmalar başlattığı ilk günden beri kendini geliştirmeye devam eden önemli bir firmadır.
                <br><br>
                Firmalara özel olarak geliştirdiğimiz yazılımlar, hazır paket kolaylığının yanında, güvenilir kodlama ile tek düze sistemin önüne geçmiş ve sizlere eşsiz yazılım imkanlarının uygun fiyatlarla ulaşmasını sağlamıştır. Bu imkanlardan yararlanmak ve web ağında kendinizi doğru şekilde tanıtmak isterseniz bizimle çalışmanızdan mutluluk duyarız.
            </p> <br> <br>

            <p id="a1">Akçakale Web Tasarım'da sahip olabileceğiniz başlıca çözümler;</p>

            <ul class="a2">
                <li>Kurumsal Web Tasarımı</li>
                <li>E-Ticaret</li>
                <li>Online Pazarlama</li>
                <li>Eğitim Danışmanlığı</li>
                <li>Yıllık hosting ödemesinde cazip fırsatlar</li>
                <li>Ddos ataklara karşı güçlü koruma</li>
                <li>Güçlü SEO ve Arama Motoru Optimizasyonu</li>
                <li>Sınırsız Web (Hosting)Alanı Seçenekleri</li>
                <li>Sınırsız Trafik Seçenekleri</li>
                <li>Sınırsız Mail Hesabı</li>
                <li>Sınırsız Kodlama ve Tasarım Desteği</li>
                <li>7/24 Saldırı tehdididen tam korumalı Hosting ve Mail hizmeti</li>
            </ul>
            <br>

            <p id="a3">
                Vizyonumuz
            </p>
            <p>
                Hedefleri ve kaliteli çalışma amaçları esas alınarak, Total bir kalite anlayışı kapsamında bütün çalıştığımız müşterilerimizi iş ortağı sayarak, sektörel beklentilerin ötesinde bir değer kazanarak, üretici ve sürekli gelişmeye devam eden eğitim odaklı bir zihniyet ile bütün sektörlere örnek ve çalıştığı sektöre öncü bir kuruluş olmaktır.
            </p>
            <br>

            <p id="a3">
                Misyonumuz
            </p>
            <p>
                Global gelişmeleri takip ederek iyi bir öngörü sağlayan ve dinamik yapısı ile Akçakale Web Tasarım, bulunduğu sektörü geliştiren, güç kazandıran, verimlilik ve yüksek kaliteli hizmet veren partner kuruluşları ve profesyonel personel kadrolarının refah ve huzur kapsamında çıtayı belirleyen, Türkiye Cumhuriyeti'nin en önemli ve en güvenilir şirketleri arasında yer alma hedefi ve güven kazanma potansiyeli ile başarılı işlere imza atmaktır. Üretmiş  olduğu yazılımlar ve sunduğu hizmetler ile ülke ekonomisinin lider firmalarından biri olmayı, büyüme ve gelişme potansiyelleri ile daha fazla katma değer yaratmayı, ekonomik büyümenin yanı sıra kurumsal bağlılık kültürünü geliştirerek sosyal gelişime katkıda bulunmayı ve örnek bir şirket olarak sektörüne öncülük etmeyi vizyon edinmiştir. Büyük bir vizyona sahip olan Akçakale Web Tasarım, sektörüne lider olmak ve ilk'leri sunarak gelişmeye devam edecek büyük bir marka değeri oluşturma yolundadır.
            </p>

            <br><br>
            <div class="altyazi">
                <p>
                    Özgün tasarım ve müşteriye özel yazılımları ile AKÇAKALE WEB TASARIM her zaman yanınızda!
                </p>
            </div>
        </div>
    </div>
</body>

