<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="~/css/styleavukatlik.css">
<link rel="stylesheet" href="./tasarimlar/avukatlik/css/styleavukatlik.css">
<link rel="stylesheet" href="./hakkimizda/css/stylehakkimizda.css">
<link rel="stylesheet" href="/css/styleiletisim.css">
<link rel="stylesheet" href="/css/bootstrap.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="carousel slide" id="slider" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slider" data-slide-to="0" class="active"></li>
        <li data-target="#slider" data-slide-to="1"></li>
        <li data-target="#slider" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/slider.jpg">
        </div>

        <div class="carousel-item">
            <img src="/images/slider2.jpg">
        </div>


        <div class="carousel-item">
            <img src="/images/slider4.jpg">
        </div>
    </div>

    <a class="carousel-control-prev" href="#slider" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>

    <a class="carousel-control-next" href="#slider" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>






<div class="container-fluid" id="orta">
    <div class="row">
        <div class="col-md-6" id="ortaleft" align="center">
            <img src="/images/orta2.png" class="img-fluid" width="600px" id="r1">
        </div>

        <div class="col-md-6" id="ortaright">
            <h1 id="h1">E-TİCARET ÇÖZÜMLERİ</h1>
            <h4 style="color:gray">E-ticaret'te ilk adımınızı atın.</h4> <br>
            <div class="ortakutu">
                <p id="p9">Kurumsal Web Siteniz ve E-Ticaret Bir Arada</p> <br>

                <p id="p10"> E-Ticaret Sistemimizde işinizi kolaylaştıracak SEO yönetimi, arama motorlarına kayıt, Google ürün entegrasyonu, sınırsız ürün ve içerik girişi, drop shopping, XML paylaşımı, özel XML entegrasyonları, Kullanıcı dostu yönetim paneli ve tüm ödeme sistemlerine uyum ile yönetilebilir bir sanal mağaza sunan Arne E-Ticaret sistemleri ile gerçek anlamda beklentilerinizi karşılayabilirsiniz. </p> <br>

                <ul>
                    <li>Asp.Net son teknoloji alt yapısına sahipttir</li>

                    <li>Responsive Tasarımla Masaüstü Bilgisayar, Tablet Bilgisayar ve Mobil uyumlu tasarımlar</li>

                    <li>Özel Entegrasyonlar, Tedarikçi, Bayi, Üye, Gelişmiş Ürün Yönetimi, Gelişmiş Ürün Varyant Tanımlama</li>

                    <li>Paylaştırılmamış sunucu alt yapısı ile hızlı site erişimi</li>

                    <li>Google Ürün Satış Entegrasyonları</li>

                    <li>SEO Uyumlu ürün şemaları, tüm arama motorlarına tam entegrasyon</li>

                    <li>Google Adwords Desteği</li>
                </ul>
            </div>

            <div id="kutucuk">
                <div id="kutuleft">
                    <p id="p11"> E-Ticaret Yazılım Özellikleri </p>
                </div>

                <div id="kuturight">
                    <p id="p11"> E-Ticaret Paketleri </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="alt">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <p id="p2"> YARATICI WEB TASARIM AJANSINIZ </p>
                <p id="p3">
                    Mükemmel, İşlevsel, Dinamik ve Özgün<br>
                    İşiniz için sağlam alt yapı sıradışı web tasarım çözümleri
                </p>
            </div>
        </div>

        <div class="row" id="y">
            <div class="col-md-5 col-lg-5" id="x">
                <div class="left">
                    <img src="/images/3.png" id="image" class="img-fluid">
                </div>
            </div>


            <div class="col-sm-12 col-md-7 col-lg-7">
                <div class="right">
                    <div class="kutu">
                        <img class="resim" src="/images/icon2.png" width="50px">
                        <p id="p4">Dinamik Tasarım</p>
                        <p id="p5">Sitenizin içerik tüm resim ve yazılarını admin panelden düzenleyebilirsiniz.</p>
                    </div>

                    <div class="kutu">
                        <img class="resim" src="/images/icon4.png" width="50px">
                        <p id="p4">Güncel Teknolojiler</p>
                        <p id="p5">Güncel kodlama Parallax, Animasyonlu, ASP.NET, SQL Server.</p>
                    </div>

                    <div class="kutu">
                        <img class="resim" src="/images/icon6.png" width="50px">
                        <p id="p4">Sağlam Altyapı</p>
                        <p id="p5">Seo için gelişmiş yönetim ve cihaz uyumlu kodlama.</p>
                    </div>

                    <div class="kutu">
                        <img class="resim" src="/images/icon8.png" width="50px">
                        <p id="p4">Mükemmel Destek</p>
                        <p id="p5">Web siteniz için kesintisiz teknik destek sunuyoruz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>